
<div class="show-classes-container">
  <div class="cards-container d-flex justify-content-around pt-3">
    <h2><%=@student.first_name%>'s Grades</h2>
    <h4>Class : <%=@section.name%></h4>
  </div>

  <div class="show-table-container me-4">
    <div class="tabs">
      <!-- Exemple pour Classroom Students (Assumant que c'est la page index des sections) -->
      <div class="d-flex justify-content-between pe-5">
        <h4>Grades</h4>
        <h4>Averages</h4>
      </div>
    </div>

    <!-- Student list -->
    <div class="student-list d-flex">
      <table class="table table-hover me-2">
        <thead>
          <tr>
            <th class="text-center">Course Name</th>
            <% @max_grades.times do |i| %>
            <th class="text-center"><%= i + 1 %>.Grade</th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @grades_by_course.each do |course, grades| %>
            <tr class="text-center">
              <td class="text-center"><i class="<%= course.icon %>"></i> <%= course.name %></td>
              <% grades.each do |grade| %>
                <td class="text-center">
                  <%= link_to grade_path(grade), class: 'text-decoration-none', style: 'color: black;' do %>
                    <%= grade.grade%>
                  <% end %>
                </td>
              <% end %>
              <% (@max_grades - grades.count).times do %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>

      </table>
      <table class="table table-hover me-1" style="width: 120px;">
        <thead>
          <tr>
            <th>Student</th>
          </tr>
        </thead>

        <tbody>
          <% @averages_by_course.each do |course, formatted_average_grade|%>
            <tr class="text-center">
              <td class="text-center"><%=formatted_average_grade %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
      <table class="table table-hover" style="width: 120px;">
        <thead>
          <tr class="text-center">
            <th class="text-center">Class </th>
          </tr>
        </thead>
        <tbody>
          <% @grades_by_courses.each do |course, formatted_course_grade|%>
            <tr class="text-center">
              <td class="text-center"><%=formatted_course_grade%></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>

  </div>
</div>
