
<div class="show-classes-container">
  <div class="cards-container d-flex justify-content-center pt-3 ">
    <h3 class = "subtitle">Grade Details</h3>
  </div>
  <div class="show-table-container-grades me-4">
    <div class="tabs">
      <%= link_to 'Back to all grades', grades_path, id: "add-grade-btn" %>
    </div>
    <div class="tabs">
      <div class="student-list mt-3" id="grade-details">
        <table class="table table-hover rounded-table">
          <tbody>
            <tr>
              <th class="text-center grade-th">Course Name</th>
              <td class="text-center"><%=@grade.course.name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Teacher Name</th>
              <td class="text-center"><%=@grade.course.teacher.first_name%> <%=@grade.course.teacher.last_name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Exam Name</th>
              <td class="text-center"><%=@grade.exam_name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Exam Date</th>
              <td class="text-center"><%=@grade.date.strftime("%B %d, %Y")%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Grade</th>
              <td class="text-center"><%=@grade.grade%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Comment</th>
              <td><em><%=@grade.comment%></em></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
