<div class="show-classes-container">
  <div class="cards-container d-flex justify-content-center pt-3 ">
    <h3 class = "subtitle">Grade Details</h3>
  </div>
  <div class="show-table-container-grades me-4">
    <div class="tabs">
      <%= link_to 'Back to all grades', grades_path, id: "add-grade-btn" %>
    </div>
    <div class="tabs">
      <div class="student-list mt-3" id="grade-details">
        <table class="table table-hover rounded-table">
          <tbody>
            <tr>
              <th class="text-center grade-th">Course Name</th>
              <td class="text-center"><i class="<%= @grade.course.icon %>"></i> <%=@grade.course.name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Teacher Name</th>
              <td class="text-center bg-light"><i class="fas fa-graduation-cap"></i> <%=@grade.course.teacher.first_name%> <%=@grade.course.teacher.last_name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Exam Name</th>
              <td class="text-center"><%=@grade.exam_name%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Exam Date</th>
              <td class="text-center bg-light"><i class="fas fa-calendar-days ms-3"></i> <%=@grade.date.strftime("%B %d, %Y")%></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Grade</th>
              <td class="text-center">
                <% case @grade.grade %>
                  <% when 1.0..1.4 %>
                    <span class="bg-one text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 1.5..1.9 %>
                    <span class="bg-one-half text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 2.0..2.4 %>
                    <span class="bg-two text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 2.5..2.9 %>
                    <span class="bg-two-half text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 3.0..3.4 %>
                    <span class="bg-three text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 3.5..3.9 %>
                    <span class="bg-three-half text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 4.0..4.4 %>
                    <span class="bg-four text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 4.5..4.9 %>
                    <span class="bg-four-half text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 5.0..5.4 %>
                    <span class="bg-five text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 5.5..5.9 %>
                    <span class="bg-five-half text-white p-2 rounded"><%= @grade.grade %></span>
                  <% when 6.0 %>
                    <span class="bg-six text-white p-2 rounded"><%= @grade.grade %></span>
                  <% else %>
                    <span class="bg-success text-white p-2 rounded"><%= @grade.grade %></span>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="text-center grade-th">Comment</th>
              <td class="bg-light"><em><%=@grade.comment%></em></td>
            </tr>
            <tr>
              <th class="text-center grade-th">Exam files</th>
              <% if @grade.photo.nil? || @grade.photo.empty? %>
                <td>No File</td>
              <%else%>
              <td>
                <a href="<%=@grade.photo%>" target="_blank">view</a>
              </td>
              <%end%>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
