
<div class="show-classes-container">
  <div class="cards-container d-flex justify-content-center pt-3 ">
    <h2><%= @student.first_name %> <%= @student.last_name %>'s Grades Details / Section: <%= @section.name %></h2>
  </div>
  <div class="show-table-container me-4">

    <div class="tabs">
      <%= link_to 'Back to class grades', show_grades_section_path(current_user.sections.first), id: "add-grade-btn" %>
      <div class="filter-by-course">
      <%= form_tag student_path(@student), method: :get do %>
      <%= select_tag :course_id, options_from_collection_for_select(@courses, 'id', 'name', params[:course_id]), include_blank: 'Filter by course', class: "input-style" %>
      <%= submit_tag 'Filter', class: "button-style" %>
    <% end %>
    </div>
    </div>
    <div class="tabs student-list">
      <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Course</th>
            <th>Grade</th>
            <th>Exam Name</th>
            <th>Exam Date</th>
            <th>Comment</th>
          </tr>
        </thead>
          <tbody>
            <% @grades.each do |grade| %>
              <tr>
                <td><%= grade.course.name %></td>
                <td><%= grade.grade %></td>
                <td><%= grade.exam_name %></td>
                <td><%= grade.date.strftime("%d-%m-%y") %></td>
                <td><%= grade.comment %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
