
<div class="show-classes-container">
  <div class="cards-container d-flex justify-content-center pt-3 ">
    <h3><%= @student.first_name %> <%= @student.last_name %>'s Grade Details / Section: <%= @section.name %></h3>
  </div>
  <div class="show-table-container me-4">

    <div class="tabs">
      <%= link_to 'Back to class grades', show_grades_section_path(current_user.sections.first), id: "add-grade-btn" %>
      <div class="filter-by-course">
      <%= form_tag student_path(@student), method: :get do %>
      <%= select_tag :course_id, options_from_collection_for_select(@courses, 'id', 'name', params[:course_id]), include_blank: 'Filter by course', class: "input-style" %>
      <%= submit_tag 'Filter', class: "button-style" %>
    <% end %>
    </div>
    </div>
    <div class="tabs student-list">
      <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Course</th>
            <th>Grade</th>
            <th>Exam Name</th>
            <th>Exam Date</th>
            <th class="comment-cell">Comment</th>
          </tr>
        </thead>
          <tbody>
            <% @grades.each do |grade| %>
              <tr>
                <td><i class="<%= grade.course.icon %>"></i> <%= grade.course.name %></td>
                <% case grade.grade %>
                      <% when 1.0..1.4 %>
                        <td><a class="bg-one text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 1.5..1.9 %>
                        <td><a class="bg-one-half text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 2.0..2.4 %>
                        <td><a class="bg-two text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 2.5..2.9 %>
                        <td><a class="bg-two-half text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 3.0..3.4 %>
                        <td><a class="bg-three text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 3.5..3.9 %>
                        <td><a class="bg-three-half text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 4.0..4.4 %>
                        <td><a class="bg-four text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 4.5..4.9 %>
                        <td><a class="bg-four-half text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 5.0..5.4 %>
                        <td><a class="bg-five text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 5.5..5.9 %>
                        <td><a class="bg-five-half text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% when 6.0 %>
                        <td><a class="bg-six text-white p-2 rounded"><%= grade.grade %></a></td>
                      <% else %>
                        <td><a class="bg-success text-white p-2 rounded"><%= grade.grade %></a></td>
                  <% end %>
                <td><%= grade.exam_name %></td>
                <td><%= grade.date.strftime("%B %d, %Y") %></td>
                <td><em><%= grade.comment %></em></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
