<div class="second-container">
  <h4 class="text-center">List</h4>
  <div class="table-responsive" id="contacts-chatroom">
    <table class="table">
      <thead>
        <tr>
          <% if current_user.type == "Teacher" %>
            <th>Parent's Name</th>
            <th>Student's Name</th>
            <th>Section</th>
            <th></th>
          <% elsif current_user.type == "Parent" %>
            <th>Teacher's  Name</th>
            <th>Course</th>
            <th>Section</th>
            <th></th>
          <% end %>
        </tr>
      </thead>
        <tbody>
          <% if current_user.type == "Teacher" %>
            <% @parent_data.each do |data| %>
              <% parent = data[:parent] %>
              <% student = parent.student %>
              <% if student.present? %>
                <tr>
                  <td>
                    <%= parent.first_name %> <%= parent.last_name %>
                    <% if data[:unread_messages] %>
                      <i class="fa-regular fa-message"></i> <!-- Assurez-vous d'avoir FontAwesome ou remplacez par un texte/icone de votre choix -->
                    <% end %>
                  </td>
                  <td><%= student.first_name %> <%= student.last_name %></td>
                  <td><%= student.section.name %></td>
                  <td><%= link_to 'Contact Parent', chatrooms_find_or_create_path(teacher_id: current_user.id, parent_id: parent.id), class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
          <% elsif current_user.type == "Parent" %>
            <% @teacher_data.each do |data| %>
              <% teacher = data[:teacher] %>
              <% student = current_user.student %>
              <% student.courses.each do |course| %>
                <tr>
                  <td>
                    <%= teacher.first_name %> <%= teacher.last_name %>
                    <% if data[:unread_messages] && course.teacher_id == teacher.id %>
                      <i class="fa-regular fa-message"></i> <!-- Assurez-vous d'avoir FontAwesome ou remplacez par un texte/icone de votre choix -->
                    <% end %>
                  </td>
                  <td><%= course.name %></td>
                  <td><%= course.section.name %></td>
                  <td><%= link_to 'Contact Teacher', chatrooms_find_or_create_path(teacher_id: teacher.id, parent_id: current_user.id), class: "btn btn-primary" %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
