<div class="second-container">
  <h4 class="text-center">Chatrooms List</h4>
  <div class="table-responsive" id="contacts-chatroom">
    <table class="table">
      <thead>
        <tr>
          <% if current_user.type == "Teacher" %>
            <th>Parent's Name</th>
            <th>Course</th>
          <% elsif current_user.type == "Parent" %>
            <th>Teacher's Name</th>
            <th>Course</th>
          <% end %>
          <th>Unread Messages</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts_with_unread_messages.each do |contact_info| %>
          <tr>
            <td><%= contact_info[:contact].first_name %> <%= contact_info[:contact].last_name %></td>
            <td><%= contact_info[:course]&.name %></td>
            <td>
              <%= link_to 'Contact', chatroom_path(contact_info[:chatroom]) %>
              <% if contact_info[:unread_messages_count] > 0 %>
                <span class="inbox-icon">Inbox<i class="fa fa-envelope"></i><%= contact_info[:unread_messages_count] %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
