<div class="blur-container">
  <div class="chatroom-container">
    <h2>Schoolink Messenger</h2>

    <div id="messages" class="messages">
      <% @messages.each do |message| %>
        <div class="<%= message.user.type == 'Parent' ? 'message-parent' : 'message-teacher' %>">
          <small><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></small>
          <p>
            <strong><%= message.user.first_name %>:</strong>
            <%= message.content %>
          </p>
        </div>
      <% end %>
    </div>

    <%= form_for [@chatroom, @message], html: { class: "message-form" } do |f| %>
      <div class="field">
        <%= f.text_area :content, class: "text_area" %>
      </div>
      <div class="actions">
        <%= f.submit "Send", class: "submit-button" %>
      </div>
    <% end %>
  </div>
</div>
