<header class="d-flex header-container">
  <div class="date-container">
    <div class="today-container">
      <%= Time.now.strftime("%B %d, %Y %H:%M") %>
    </div>
  </div>

  <div class="login-details">
    <div class="inbox">Inbox<i class="fa-regular fa-message"></i><%= @unread_messages_count %></div>
    <p class="text-center"><%= current_user.first_name %> <%= current_user.last_name %>
      <div class="user"><%= image_tag(("user.png") , :class => "user-img") %><div>
    </p>
  </div>
</header>
