<header class="d-flex header-container">
  <div class="date-container">
    <div class="today-container d-flex align-items-center">
      <%= Time.now.strftime("%d %B, %Y") %> <i class="fa-solid fa-calendar-days ms-3"></i>
    </div>
  </div>

  <div class="nav-top-title flex-start ">
    <% if current_user.type == "Teacher" %>
      <%= link_to teacher_root_path do %>
        <%= image_tag(("logo.png") , :class => "user-img") %>
      <% end %>
    <% end %>

    <% if current_user.type == "Parent" %>
      <%= link_to teacher_root_path do %>
        <%= image_tag(("logo.png") , :class => "user-img ") %>
      <% end %>
    <% end %> <i>Schoolink</i>
  </div>

  <div class="login-details">
    <div class="inbox">Inbox<i class="fa-regular fa-message"></i><%= @unread_messages_count %></div>
    <p class="text-center"><%= current_user.first_name %> <%= current_user.last_name %>
      <div class="user"><%= image_tag(("user.png") , :class => "avatar-img") %><div>
    </p>
  </div>
</header>
