
  <div class="side-nav">
    <div class="user">
      <%= image_tag(("user.png") , :class => "user-img") %>
      <div>
        <h2>John Doe</h2>
        <p>j.doe@email.com</p>
      </div>
      <%= image_tag(("star.png") , :class => "star-img") %>
    </div>
    <ul>
      <li><%= image_tag("dashboard.png") %><p>Dashboard</p></li>
      <li><%= image_tag("members.png") %><p>Classes</p></li>
      <li><%= image_tag("members.png") %><p>Grades</p></li>
      <li><%= image_tag("messages.png") %><p>Communications</p></li>
      <li><%= image_tag("dashboard.png") %><p>Dashboard</p></li>
      <li><%= image_tag("dashboard.png") %><p>Dashboard</p></li>
      <li><%= image_tag("dashboard.png") %><p>Dashboard</p></li>
    </ul>
    <ul>
      <li><%= image_tag("logout.png") %><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
    </ul>
  </div>
