
  <div class="side-nav">
    <div class="user">
      <%= image_tag(("user.png") , :class => "user-img") %>
      <div>
        <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <p><%= current_user.email %></p>
      </div>
      <%= image_tag(("star.png") , :class => "star-img") %>
    </div>
    <ul>
      <li><%= link_to teacher_root_path do %>
        <%= image_tag("dashboard.png") %>
        <p>Dashboard</p>
        <% end %>
      </li>
        <li><%= link_to "#" do %>
      <%= image_tag("members.png") %>
      <p>Classes</p>
        <% end %>
      </li>
      <li><%= link_to "#" do %>
        <%= image_tag("reports.png") %>
        <p>Grades</p>
        <% end %>
      </li>
      <li><%= link_to "#" do %>
        <%= image_tag("messages.png") %>
        <p>Communications</p>
        <% end %>
      </li>
    </ul>
    <ul>
      <li><%= image_tag("logout.png") %><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
    </ul>
  </div>
