<!--
  <p><%= course.section.name %></p>
  <p><i class="fa-solid fa-book"></i><%= course.name %></p>
  <p>From <%= rand(24) %>:00</p>
-->

<div class="notif-cards">
  <div class="notification">
    <div class="notification-content">
      <p class="notification-title"><%= course.section.name %></p>
      <p class="notification-para"><%= course.name %></p>
      <% hour_start = rand(24) %>
      <% hour_end = (hour_start + 1) % 24 %>
      <p class="notification-para">From <%= hour_start %>:00 to <%= hour_end %>:00</p>
    </div>
  </div>
</div>
