<!-- Adaptation du formulaire d'ajout de notes avec le CSS spécifié -->

<div class="second-container">
  <div class="cards-container">
    <div class="cards-container">
    <h3 class="subtitle classes">Classes </h3 class="subtitle">
    <div id="top-cards-dashboard">
      <% @sections.each do |section| %>
        <%= link_to section_path(section) do %>
        <%= render 'sections/grades_small', section: section, active: @section %>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>

  <div class="show-table-container">
    <div class="tabs">
      <%= link_to 'Classroom students', section_path(@section), class: "#{ 'active' if current_page?(section_path(@section)) }" %>
      <%= link_to 'Add a grade for this class', add_grade_section_path(@section), class: 'active', id: "add-grade-btn" %>
    </div>

    <div class="container my-5">
      <%= form_with model: @section, url: create_grades_section_path(@section), method: :post, local: true, html: { class: 'needs-validation', novalidate: '' } do |form| %>
    <div class="form-group mb-3">
      <%= form.label :course_id, 'Course', class: 'form-label w-50' %>
      <%= form.collection_select :course_id, @section.courses, :id, :name, { include_blank: 'Choose the course you want to rate' }, { class: 'form-select custom-font narrow-field' } %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :exam_name, 'Exam name', class: 'form-label' %>
      <%= form.text_field :exam_name, placeholder: 'Name of the exam you want to rate', class: 'form-control narrow-field' %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :date, 'Date of exam - can not be in future', class: 'form-label' %>
      <%= form.date_field :date, class: 'form-control narrow-field' %>
    </div>

        <div class="table-responsive">
          <table class="table table-hover rounded-table small-mg">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Comment</th>
                <th>Add File</th>
              </tr>
            </thead>
            <tbody>
              <% @section.students.each_with_index do |student, index| %>
              <tr>
                <td><%= student.first_name %></td>
                <td><%= student.last_name %></td>
                <td>
                  <%= number_field_tag "grades[#{student.id}][grade]", nil, placeholder: 'Grade must be between 1 and 6', class: 'form-control', min: 1, max: 6 %>
                </td>
                <td>
                  <%= text_area_tag "grades[#{student.id}][comment]", nil, class: 'form-control' %>
                </td>
                <td>
                  <%= form.file_field "grades[#{student.id}][photo]", class: 'form-control' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="form-actions d-flex justify-content-end mt-3">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= link_to 'Cancel', section_path(@section), class: 'btn btn-secondary me-2' %>
          <%= form.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

  </div>
</div>
