
<div class="second-container">
  <div class="cards-container">
    <h3 class="subtitle classes">Class <%=@section.name%> / Grade Averages</h3 class="subtitle">
    </div>
  <div class="show-table-container">
  <div class="cards-container">
    <h3 class="subtitle classes">Classes </h3 class="subtitle">
    <div id="top-cards-dashboard">
      <% @sections.each do |section| %>
        <%= link_to show_grades_section_path(section) do %>
        <%= render 'sections/grades_small', section: section, active: @section %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tabs">
    <!-- Exemple pour Classroom Students (Assumant que c'est la page index des sections) -->
    <%= link_to 'Classroom students', section_path(@section), class: "#{ 'active' if current_page?(section_path(@section)) }" %>
    <%= link_to 'Add a grade', add_grade_section_path(@section), id: "add-grade-btn" %>
  </div>
  <br>

  <!-- Student list -->
    <div class="student-list">
      <table class="table table-hover rounded-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <% @section.courses.each do |course| %>
            <th><i class="<%= course.icon %>"></i> <%= course.name %></th>
            <% end %>
            <th class="text-center">Class Average</th>
          </tr>
        </thead>
        <tbody>
          <% @section.students.each do |student| %>
            <tr>
              <td>
                <%= link_to "#{student.first_name} #{student.last_name}", student_path(student), class: 'text-decoration-underline', style: 'color: black;' %>
              </td>
              <% @section.courses.each do |course| %>
                <% grades = student.grades.where(course_id: course.id) %>
                <% course_average = grades.average(:grade)&.round(1) %>
                <% case course_average %>
                  <% when 1.0..1.4 %>
                    <td><a class="bg-one text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 1.5..1.9 %>
                    <td><a class="bg-one-half text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 2.0..2.4 %>
                    <td><a class="bg-two text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 2.5..2.9 %>
                    <td><a class="bg-two-half text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 3.0..3.4 %>
                    <td><a class="bg-three text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 3.5..3.9 %>
                    <td><a class="bg-three-half text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 4.0..4.4 %>
                    <td><a class="bg-four text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 4.5..4.9 %>
                    <td><a class="bg-four-half text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 5.0..5.4 %>
                    <td><a class="bg-five text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 5.5..5.9 %>
                    <td><a class="bg-five-half text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% when 6.0 %>
                    <td><a class="bg-six text-white p-2 rounded text-center text-decoration-none"><%= course_average %></a></td>
                  <% else %>
                    <td><%= course_average %> LO</td>
                <% end %>
              <% end %>
              <% class_average = student.grades.average(:grade)&.round(1) %>
              <td class="text-center fw-bold"><%= class_average if class_average %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
