
<div class="second-container">
  <div class="cards-container">
    <h3 class="subtitle classes">Classes </h3 class="subtitle">
    <div id="top-cards-dashboard">
      <% @sections.each do |section| %>
        <%= link_to section_path(section) do %>
        <%= render 'sections/grades_small', section: section, active: @section %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="show-table-container">
  <div class="tabs">
  <!-- Exemple pour Classroom Students (Assumant que c'est la page index des sections) -->
  <%= link_to 'Classroom students', section_path(@section), class: "#{ 'active' if current_page?(section_path(@section)) }" %>
  <%= link_to 'Add a grade for this class', add_grade_section_path(@section), id: "add-grade-btn" %>
</div>

  <div class="search-bar">
    <input type="text" placeholder="Search">
  </div>

  <!-- Student list -->
<div class="student-list">
  <table class="table table-hover rounded-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Parent Name</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.parent&.last_name %></td>
          <td><%= student.parent&.first_name %> <%= student.parent&.last_name %></td>
          <td class=""><%= student.parent.phone_number %><i class="fa-solid fa-phone"></i></td>
          <td class=""><%= student.parent.first_name[0] %>.<%= student.parent.last_name %>@slink.ch<i class="fa-solid fa-envelope"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
</div>
