<h1>Parent's Dashboard Page!</h1>
<br>

<h1>Welcome <%=@parent.first_name%>!</h1>
<br>
<h1>Your Child is: <%=@student.first_name%>!</h1>
<br>
<h1>Your Child is in: <%=@section.name%>!</h1>
<br>
<h1>Your Child's Grades: </h1>
<br>
<!-- <p><%= @user %></p> -->
<div class="container w-75 ">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Grade</th>
        <th scope="col">Exam Name</th>
      </tr>
    </thead>
    <tbody>
      <% @student_grades.each_with_index do |grade, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= course_name = Course.find(grade.course_id).name %></td>
          <td><%= grade.grade %></td>
          <td><%= grade.exam_name %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
