<div class="second-container">
  <h3 class="subtitle classes">All your classes </h3>
  <div id="top-cards-dashboard">
    <% @sections.each do |section| %>
      <%= link_to section_path(section) do %>
      <%= render 'sections/grades', section: section %>
      <% end %>
    <% end %>

  </div>

  <div class="bottom-container-dashboard">
    <div class="notifications-dashboard">
      <h3 class="subtitle">Notifications</h3>
      <% rand(3..5).times do %>
        <%= render 'sections/notifications', courses: @courses, notifications: @notifications %>
      <% end %>

    </div>

    <div class="todo-dashboard">
      <h3 class="subtitle">To do today</h3>
      <% 6.times do %>
        <%= render 'sections/todos', todos: @todos %>
      <% end %>
    </div>

    <div class="timetable-dashboard">
      <h3 class="subtitle">Timetable</h3>
      <%= render 'sections/calendar', courses: @courses, sections: @sections  %>
    </div>
  </div>
</div>
