<div class="second-container">
  <h4 class="text-center">All your classes </h4>
  <div id="top-cards-dashboard">
    <% @sections.each do |section| %>
      <%= link_to section_path(section) do %>
      <%= render 'sections/grades', section: section %>
      <% end %>
    <% end %>

  </div>

  <div class="bottom-container-dashboard">
    <div class="notifications-dashboard">
      <h4 class="text-center">Notifications</h4>
      <% rand(3..5).times do %>
        <%= render 'sections/notifications', courses: @courses, notifications: @notifications %>
      <% end %>

    </div>

    <div class="todo-dashboard">
      <h4 class="text-center">To do today</h4>
      <% 6.times do %>
        <%= render 'sections/todos', todos: @todos %>
      <% end %>
    </div>

    <div class="timetable-dashboard">
      <h4 class="text-center">Timetable</h4>
      <%= render 'sections/calendar', courses: @courses, sections: @sections  %>
    </div>
  </div>
</div>
