<h3>Welcome <%= current_user.first_name %></h3>
<div class="second-container">
  <h2>All your classes </h2>
  <div id="top-cards-dashboard">
    <% @sections.each do |section| %>
      <%= link_to section_path(section) do %>
      <%= render 'sections/grades', section: section %>
      <% end %>
    <% end %>
    <div class="card-dashboard">
      <i class="fa-solid fa-plus" id="plus"></i>
      <div class="info">
        <p class="title" id="add-new-class">Add a new class</p>
      </div>
      <div class="footer">
        <p class="tag"></p>
      </div>
    </div>
  </div>

  <div class="bottom-container-dashboard">
    <div class="notifications-dashboard">
      <h3 class="subtitle">Notifications</h3>
      <% rand(3..5).times do %>
        <%= render 'sections/notifications', courses: @courses, notifications: @notifications %>
      <% end %>

    </div>

    <div class="todo-dashboard">
      <h3 class="subtitle">To do today</h3>
      <% 6.times do %>
        <%= render 'sections/todos', todos: @todos %>
      <% end %>
    </div>

    <div class="timetable-dashboard">
      <h3 class="subtitle">Timetable</h3>
      <%= render 'sections/calendar', courses: @courses, sections: @sections  %>
    </div>
  </div>
</div>
