<div class="show-classes-container">
<h2>Send a New Message</h2>

<%= form_with model: @communication, local: true do |form| %>
  <div class="field">
    <%= form.label :receiver_id, "To" %>
    <%= form.collection_select :receiver_id, @recipients, :id, :full_name, prompt: "Select a recipient" %>
  </div>

  <div class="field">
    <%= form.label :body, "Message" %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>
</div>
